{% extends "base.html" %}
{% block content %}
  <section class="text-gray-600 body-font">
    <div class="container px-5 pt-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20 pb-5 border-b-2">
        <div class="w-full justify-start">
          <h2 class="flex text-xs text-green-500 tracking-widest font-medium title-font mb-1">{{ user}}'s Employees</h2>
        </div>
        <div class="flex justify-between justify-items-center">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Manage Employees</h1>
          {% if user.is_manager %}
            <a href="{% url 'employees:create' %}" class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Create employee</a>
          {% endif %}
        </div>
      </div>
    </div>

      <div class="container px-5  mx-auto flex flex-wrap">
        <div class="flex flex-wrap -m-4">
          {% for employee in employees %}
              <div class="p-4 lg:w-1/2 md:w-full">
                <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                  <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-green-100 text-green-500 flex-shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </div>
                  <div class="flex flex-col">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3 capitalize">{{ employee }}</h2>
                    <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
                    <a href="{% url 'employees:detail' employee.id %}" class="mt-3 text-green-500 inline-flex items-center">Details
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </section>
{% endblock content %}


